/* global vars  */
:root {
    --animation-window-background-color: #dddddd;

    /* animations vars  */
    --animation-duration: 2s;
    --rotateX-from: rotateX(0);
    --rotateX-to: rotateX(0);
    --rotateY-from: rotateY(0);
    --rotateY-to: rotateY(0);
    --skewX-from: skewX(0);
    --skewX-to: skewX(0);
    --skewY-from: skewY(0);
    --skewY-to: skewY(0);
    --translateX-from: translateX(0);
    --translateX-to: translateX(100px);
    --translateY-from: translateY(0);
    --translateY-to: translateY(0);
    --scaleX-from: scaleX(1);
    --scaleX-to: scaleX(1);
    --scaleY-from: scaleY(1);
    --scaleY-to: scaleY(1);
  }

/* animation view window rules ****************  */

/* animation view window container  */
.animation-view-window {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--animation-window-background-color);
    width: 17em;
    height: 17em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

/* the text to be animated by user  */
.animated-text {
    line-break: anywhere;
    font-weight: bold;
}

.animated-text.play {
    animation: play var(--animation-duration) ease;
}

@keyframes play {
    from {
        transform: var(--rotateX-from) var(--rotateY-from) var(--skewX-from) var(--skewY-from) var(--translateX-from) var(--translateY-from) var(--scaleX-from) var(--scaleY-from);
        /* transform: var(--rotateY-from);
        transform: var(--skewX-from);
        transform: var(--skewY-from);
        transform: var(--translateX-from);
        transform: var(--translateY-from);
        transform: var(--scaleX-from);
        transform: var(--scaleY-from); */
    }

    to {
        transform: var(--rotateX-to) var(--rotateY-to) var(--skewX-to) var(--skewY-to) var(--translateX-to) var(--translateY-to) var(--scaleX-to) var(--scaleY-to);
        /* transform: var(--rotateY-to);
        transform: var(--skewX-to);
        transform: var(--skewY-to);
        transform: var(--translateX-to);
        transform: var(--translateY-to);
        transform: var(--scaleX-to);
        transform: var(--scaleY-to); */
    }
}