/* global vars  */
:root {
    --main-gray-color: #6d6d6d;
    --secondery-gray-color: #3c3c3c;
    --text-info-color: #ababab;
    --desc-font-color: #292929;
    --desc-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

/* main pannel rules ****************  */

/* main working pannel of the animation helper */
.animation-pannel {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: fit-content;
    background-color: var(--main-gray-color);
}

/* the animation pannel main section (all pannel except for side bar)  */
.main-section {
    order: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* a small text description of the app  */
.about-p {
    margin-bottom: 0.5em;
    font-size: 1.2rem;
    font-family: var(--desc-font-family);
    color: var(--desc-font-color);
}