/* font import  */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

/* global vars  */
:root {
    --text-info-color: #ababab;
  }

/* main header container  */
.header {
    display: flex;
    width: 100vw;
    height: 11em;
    background-color: #515151;
}

/* header image  */
.header img {
    width: 10em;
    height: 12em;
}

/* header text container */
.header-text-container {
    display: flex;
    flex-direction: column;
}

/* header app name  */
.header-text {
    font-size: 2rem;
    font-family: 'Sansita Swashed', cursive;
    color: var(--text-info-color);
    margin-bottom: 12px;
}

/* header below app name text  */
.header-sub-text {
    margin: 0;
    color: var(--text-info-color);
}
