/* font import  */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

/* global vars  */
:root {
    --main-gray-color: #6d6d6d;
    --secondery-gray-color: #3c3c3c;
  }

/* main header container  */
.header {
    display: flex;
    width: 100vw;
    height: 13em;
    margin-top: 0.5em;
}

/* header image  */
.header img {
    width: 12em;
    height: 14em;
}

/* header text container */
.header-text-container {
    display: flex;
    flex-direction: column;
}

/* header app name  */
.header-text {
    font-size: 2rem;
    font-family: 'Sansita Swashed', cursive;
    color: var(--main-gray-color);
    margin-bottom: 12px;
}

/* header below app name text  */
.header-sub-text {
    margin: 0;
    color: var(--secondery-gray-color);
}