/* global vars  */
:root {
    --secondery-gray-color: #3c3c3c;
    --text-info-color: #ababab;
  }

/* side bar section rules ****************  */

/* the side bar container to control and create animations */
.side-pannel {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 18em;
    height: calc(100vh - 14.5em);
    padding: 0.5em;
    background-color: var(--secondery-gray-color);
}

@media only screen and (max-height: 715px) {
    .side-pannel {
      height: 100vh;
    }
  }

/* side bar info text  */
.text-input-info {
    color: var(--text-info-color);
}

/* text area for writing something to be animated  */
.animation-text-input {
    max-height: 12em;
    max-width: 100%;
    resize: none;
}