/* global vars  */
:root {
    --secondery-gray-color: #3c3c3c;
    --text-info-color: #ababab;
  }

  /* global rule for removing number input arrows for inputs with type number FireFox!  */
  input[type=number] {
    -moz-appearance: textfield;
  }

/* side bar section rules ****************  */

/* the side bar container to control and create animations */
.side-pannel {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 18em;
    height: 72vh;
    padding: 0.5em;
    background-color: var(--secondery-gray-color);
    overflow-y: scroll;
}

/* make pannel fit height under screen height of 715px  */
@media only screen and (max-height: 715px) {
    .side-pannel {
      height: 100vh;
    }
  }

/* side bar info text  */
.text-input-info, .info-title {
    color: var(--text-info-color);
}

/* text area for writing something to be animated  */
.animation-text-input {
    max-height: 12em;
    max-width: 100%;
    padding: 0;
    resize: none;
}

/* the translate controlls container section  */
.translate-controls-container {
  display: flex;
  flex-direction: column;
}

/* the translate controls main title  */
.translate-controls-container .h4 {
  height: fit-content;
  display: flex;
  justify-content: center;
}

/* container of all sub titles in a control section in the side pannel  */
.sub-titles {
  display: flex;
  justify-content: space-around;
}

/* sub titles rules  */
.sub-titles h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* the translate input controls section  */
.controls-input-container {
  display: flex;
  justify-content: space-around;
}

/* the animation controller input  */
.counter-input {
  width: 2.3em;
  border-radius: 6px;
  border-color: unset;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

/* removing number input arrows for inputs with type number /Chrome, Safari, Edge, Opera */ 
.counter-input::-webkit-outer-spin-button, .counter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.control-from, .control-to {
  margin-bottom: 0.3em;
}

/* a text indicator for controllers  */
.from-text, .to-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.7rem;
  color: var(--text-info-color);
  margin: 0;
  margin-bottom: 0.5em;
}

/* container for input and plus and minus btns  */
.input-and-btns {
  display: flex;
}

/* add and decrease btns  */
.plus-icon, .minus-icon {
    stroke: gray;
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
}

/* add and decrease btns on hover */
.plus-icon:hover, .minus-icon:hover {
  stroke: rgb(21, 91, 241);
}

@media only screen and (max-width: 642px) {
  .side-pannel.desktop {
    display: none;
  }

  .hamburger-menu {
    display: flex !important;
  }

  .side-pannel.mobile {
    display: flex !important;
    height: 100vh !important;
  }
}

.side-pannel.mobile {
  display: none;
}

/* hamburger menu code ** */
.hamburger-menu {
  display: none;
  position: absolute;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn {
  left: 18.2em;
  top: -2.2em;
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
  display: flex !important;
}

.menu__btn {
  position: absolute;
  display: flex;
  width: 2em;
  height: 2em;
  cursor: pointer;
  z-index: 1;
  align-items: center;
  z-index: 101;
  bottom: 1.3em;
  right: 0.2em;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--text-info-color);
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: none;
  bottom: 0;
  right: -100%;
  width: fit-content;
  height: fit-content;
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--secondery-gray-color);
  box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
  transition-duration: .25s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* play btn  */
.trigger-animation-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 5em;
  height: 2.5em;
  background-color: rgb(21, 91, 241);
  border-radius: 10px;
  border-color: transparent;
  align-self: center;
  cursor: pointer;
}

.trigger-animation-btn:hover {
  background-color: rgb(20, 75, 192);
}

.svg-icon-play {
  stroke: black;
  width: 1.8em;
  height: 1.8em;
  padding-top: 0.3em;
}